{% extends 'base.html.twig' %}
{% block title %} A propos {% endblock %}

{% block body %}
    <div class="container p-4">
        <div class="row">
           <h1 class="ml-auto mr-auto"> Genesis of the project</h1>
        </div>
        <div class="row">
            <p> This project was born after my learning of the Symfony framework. I tried to use everything I learned into a project, 
            like CRUD, API requests, Form managing while having a good code writing and of course a good security of the website. 
            I wanted to create a E-commerce website, because I think that practicing a E-commerce style of website allows to cover all skills
            expected for a Back-end developer.</p>
            <p> I never saw a website about space trips on Github. This motivated me to create a fake agency 
            website that organize trips to space.Most of the features used in this project are also normally used for E-commerce website, 
            except some features (like creating a trip) which are used specifically for this project.</p>
           
            <p> You can have more info about this website's features on my github <a target="_blank" class="text-danger" href="https://github.com/AlexandreRavichandran/Spacetrip#spacetrip">here</a>.</p>
        </div>
    </div>
{% endblock %}