<h1>Bienvenue sur Spacetrip ! </h1>

<p>Merci de votre confiance en vous inscrivant à Spacetrip.</p>
<p>Veuillez <a href="{{ signedUrl }}">Confirmer votre compte</a> afin de pouvoir reserver un voyage.</p>   
<p>Ce lien expirera dans {{ expiresAtMessageKey|trans(expiresAtMessageData, 'VerifyEmailBundle') }}.</p>  

<p> A bientôt dans un nouveau voyage ! </p>
