
<nav class="navbar navbar-dark bg-dark p-0">
    <ul class="navbar-nav ml-auto mr-auto d-flex flex-row">
        <li class="nav-item">
            <a class="nav-link" href="#">A propos</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#">Mentions légales</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#">Contact</a>
        </li>
    </ul>
</nav>
<div class="bg-dark">
    <p class="text-center text-white pt-3">Made by Alexandre RAVICHANDRAN</p>
    <p class="text-center text-white pb-2"><a href="https://github.com/AlexandreRavichandran/Spacetrip"><i class=" text-white bi h5 bi-github"></i></a></p>
</div>