
<nav class="navbar navbar-dark bg-dark p-2">
    <ul class="navbar-nav ml-auto mr-auto d-flex flex-row">
        <li class="nav-item">
            <a class="nav-link" href="{{path('app_about')}}">A propos</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="{{path('app_notice')}}">Mentions légales</a>
        </li>
    </ul>
</nav>
<div class="bg-dark">
    <p class="text-center text-white pt-1">Made by Alexandre RAVICHANDRAN</p>
    <p class="text-center text-white pb-2 mb-0"><a href="https://github.com/AlexandreRavichandran/Spacetrip"><i class=" text-white bi h5 bi-github"></i></a></p>
</div>