{% extends 'base.html.twig' %}

{% block title %}[ADMIN] {{trip.name}} - Edition{% endblock %}

{% block body %}
<div class="container mt-4 p-4 bg-white rounded">
    <h1 class="text-center"> Modification du voyage "{{trip.name}}" à destination de "{{trip.destination.name}}"</h1>
    {% include('admin/trip/partials/_form.html.twig')%}
</div>
{% endblock %}