{% extends 'base.html.twig' %}

{% block title %}Les voyages{% endblock %}

{% block body %}
<div class="container mt-3">
    <div class="jumbotron">

    </div>
</div>
<div class="container mt-4">
    <h1> Les voyages actuels </h1>
    {% for row in trips|batch(3) %}
    <div class="row mt-2">
    {% for trip in row %}
        <div class="col-md-4">
            <div class="card mb-3">
                <h3 class="card-header text-center"> {{trip.name}} - {{trip.destination}} </h3>
                <div class="card-body mb-2">
                    <h4 class="card-subtitle text-muted text-center"> {{trip.departureAt|date("d/m/Y")}} - {{trip.arrivalAt|date("d/m/Y")}} </h4>
                </div>
                <img src="https://placehold.it/300x300" alt="" class="text-center mb-4 ml-auto mr-auto">
                <div class="card-footer text-muted text-center">
                    <a href="" class="card-link"> En savoir plus</a>
                </div>
            </div>
        </div>
    {% endfor %}
    </div>
    {% endfor %}
</div>
{% endblock %}
