{% extends 'base.html.twig' %}

{% block title %}Page administrateur{% endblock %}

{% block body %}
<div class="container-fluid mt-2">
    <h1 class="text-center"> Récapitulatif </h1>
    <div class="row">
    <ul class="nav nav-pills ml-auto mr-auto">
        <li class="nav-item">
            <a class="nav-link " href="#">Derniers voyages crées/mis à jour</a>
        </li>
        <li class="nav-item">
            <a class="nav-link active" href="#">Derniers vaisseaux crées/mis à jour</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#">Derniers commentaires</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#">Derniers utilisateurs</a>
        </li>
    </ul>
    </div>
    <div class="row">
        <div class="col-6">
            {% include('admin/trip/partials/_index.html.twig')%}
        </div>
        <div class="col-6">
            {% include('admin/spacecraft/partials/_index.html.twig')%}
        </div>
    </div>
    <div class="row">
        <div class="col-6">
            {% include('admin/trip/partials/_index.html.twig')%}
        </div>
        <div class="col-6">
            {% include('admin/spacecraft/partials/_index.html.twig')%}
        </div>
    </div>
</div>
{% endblock %}
{% block javascripts %}
<script>

</script>
{% endblock %}