{% block body %}
<div class="container">
    <div class="row">
        <div class="col">
            <div id="spacecraftChartContainer" style="height: 370px; width: 100%;"></div>
        </div>
        <div class="col">
            <div id="destinationContainer" style="height: 370px; width: 100%;"></div>
        </div>
    </div>
</div>
{% endblock %}

{% block javascripts %}
<script src="https://canvasjs.com/assets/script/canvasjs.min.js"></script>
<script>

window.onload = function() {

var spacecraftChart = new CanvasJS.Chart("spacecraftChartContainer", {
	animationEnabled: true,
	title: {
		text: "Les vaisseaux les plus sollicités"
	},
	data: [{
		type: "pie",
		startAngle: 240,
		yValueFormatString: "##0.00\"%\"",
		indexLabel: "{label} {y}",
		dataPoints: [
             {% for spacecraft in spacecrafts %}
			{y: {{spacecraftPercentages[loop.index0]}}, label: "{{spacecraft.name|upper}}"},
            {% endfor %}
		]
	}]
});
spacecraftChart.render();

var destinationChart = new CanvasJS.Chart("destinationContainer", {
	animationEnabled: true,
	title: {
		text: "Les destinations favorites"
	},
	data: [{
		type: "pie",
		startAngle: 240,
		yValueFormatString: "##0.00\"%\"",
		indexLabel: "{label} {y}",
		dataPoints: [
             {% for destination in destinations %}
			{y: {{destinationPercentages[loop.index0]}}, label: "{{destination.name|upper}}"},
            {% endfor %}
		]
	}]
});
destinationChart.render();

}
</script>
{% endblock %}