{% block body %}
<div class="container">
    <div class="row">
        <div class="col">
            <div id="chartContainer" style="height: 370px; width: 100%;"></div>
        </div>
        <div class="col">
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Officiis, magnam labore architecto distinctio saepe laborum vitae aut cum quaerat quidem quos quis a deserunt, sunt totam eos, debitis omnis unde numquam corrupti! Culpa, voluptate eaque labore dolore autem, inventore ullam, optio molestias placeat ab veniam quasi? Molestiae enim ipsa, vel perspiciatis quidem sed quis eos, nostrum minus fuga earum! Laboriosam molestiae voluptatum ab magnam nesciunt dolore error quaerat dignissimos, accusantium nam ipsa atque eius sapiente! Repudiandae ea ratione delectus vitae?</p>
        </div>
    </div>
</div>
{% endblock %}

{% block javascripts %}
<script src="https://canvasjs.com/assets/script/canvasjs.min.js"></script>
<script>

window.onload = function() {

var chart = new CanvasJS.Chart("chartContainer", {
	animationEnabled: true,
	title: {
		text: "Les vaisseaux les plus sollicités"
	},
	data: [{
		type: "pie",
		startAngle: 240,
		yValueFormatString: "##0.00\"%\"",
		indexLabel: "{label} {y}",
		dataPoints: [
             {% for spacecraft in spacecrafts %}
			{y: {{percentages[loop.index0]}}, label: "{{spacecraft.name|upper}}"},
            {% endfor %}
		]
	}]
});
chart.render();

}
</script>
{% endblock %}