<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>Spacetrip - {% block title %}{% endblock %}</title>
        {# Run `composer require symfony/webpack-encore-bundle`
           and uncomment the following Encore helpers to start using Symfony UX #}
        <link rel="stylesheet" href="/css/bootstrap.min.css">
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.4.1/font/bootstrap-icons.css">
        <link rel="stylesheet" href="/css/style.css">
        {% block stylesheets %}
            {#{{ encore_entry_link_tags('app') }}#}
        {% endblock %}


    </head>

    <body>
        <header>
            {% include 'partials/_navbar.html.twig' %}
            <div class="">
                <p class="p-2 text-center bg-warning" style="font-size:1.2rem"> This website is currently still on development. Some features may not work (well).</p>             
            </div>
            {% for label,messages in app.flashes %}
                {% for message in messages %}
                <div class="alert alert-dismissible alert-{{label}} text-center">
                    <button type="button" class="close" data-dismiss="alert">&times;</button>
                    {{message}}
                </div>
                {% endfor %}
            {% endfor %}
        </header>
            <div id="helpBox" class="helpBox">
                <p id="helpBoxMessage">Discovering the app ? Click here to display comments.</p>   
                <div id="numberOfComments"> <span id="number"></span> comment(s) available.</div>     
            </div>
        <main>
            {% block body %}{% endblock %}
        </main>
        <footer class="mt-4">
            {% include 'partials/_footer.html.twig' %}
        </footer>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/js/bootstrap.min.js" integrity="sha384-+YQ4JLhjyBLPDQt//I+STsc9iw4uQqACwlvpslubQzn4u2UU2UFM80nGisd026JF" crossorigin="anonymous"></script>        
        <script src="/javascript/app.js"></script>
        <script src="/javascript/event.js"></script>
        {% block javascripts %}
        {% endblock %}
    </body>
</html>
