{% extends 'base.html.twig' %}

{% block title %}[ADMIN] Création d'un vaisseau{% endblock %}

{% block body %}
<div class="container mt-4">
    <h1> Creation d'un nouveau vaisseau</h1>
    {% include('admin/spacecraft/partials/_form.html.twig')%}
</div>
{% endblock %}
