{% extends 'base.html.twig' %}
{% block title %} Ajout d'une nouvelle destination {% endblock %}
{% block body %}
<div class="container mt-4 p-4 bg-white rounded">
    <h1 class="text-center">Ajout d'une nouvelle destination </h1>
    {% include('admin/destination/partials/_form.html.twig')%}
</div>
{% endblock %}