{% extends 'base.html.twig' %}
{% block title %} {{destination.name}} - Edition{% endblock %}
{% block body %}
<div class="container mt-4 p-4">
    <h1>Modification de la destination {{destination.name}} </h1>
    {% include('admin/destination/partials/_form.html.twig')%}
</div>
{% endblock %}
{% block javascripts %}
    <script>
        $('img').addClass('d-block mt-4 ml-auto mr-auto');
    </script>
{% endblock %}