<h3 class="text-center"> Les derniers utilisateurs inscrits</h3>
<table class="table table-hover border">
    <thead>
        <tr class="table-primary">
            <th class="text-center">Nom</th>
            <th class="text-center"> Prenom</th>
            <th class="text-center">Email</th>
            <th class="text-center">Date d'inscription</th>
            <th class="text-center">Actions</th>
        </tr>
    </thead>
    <tbody>
    {% for user in users %}
        <tr class="table">
            <td>{{user.lastName}}</td>
            <td class="text-center">{{user.firstName}}</td>
            <td class="text-center">{{user.email}}</td>
            <td class="text-center">{{user.createdAt|date('d-m-Y H:i:s')}}</td>
            <td class="d-flex">
                <a class="btn btn-info btn-sm" href="">Voir le profil</a>
                <a class="btn btn-warning btn-sm ml-2" href="">Envoyer un message</a>
            </td>
        </tr>
    {% endfor %}
    </tbody>
</table>
<p class="text-right"><a class="btn btn-sm btn-secondary" href="">Voir Tout</a></p>